
/* .form * {
    border: solid 1px red;
} */


.form > header {
    font-size: 1.2rem;
    text-align: center;
}

.formError {
    font-size: 1rem;
    text-align: center;
    color: red;
    margin: 10px;
    min-height: 20px;
}

.inputContainer {
    margin: 20px 0px;
}

.passwordInput {
    margin-bottom: 0;
}

.forgotPasswordLink {
    margin-bottom: 40px;

    font-size: 0.9rem;
    text-align: end;
}

.createAccountLink {
    display: flex;
    justify-content: center;

    font-size: 1rem;
}

.createAccountLink a:hover:not(.linkDisabled) {
    text-decoration: none;
}

.linkDisabled {
    cursor: not-allowed;
    opacity: 0.6;
}


.logIn {
    margin: 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.logIn button {
    width: 80%;
    max-width: 250px;
}
