
/* .wrapper * {
    border: solid 1px black;
} */


.wrapper {
    flex: 1 1 auto;

    width: 40px;
    max-width: 300px;

    margin: 5px;
    padding: 5px 10px;

    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: white;

    border: none;
    border-radius: 10px;
    cursor: pointer;

    background-color: transparent;
    overflow: hidden;

    transition: all 0.1s ease-in-out;
}

.wrapper:hover:not(:disabled) {
    background-color: rgb(255, 255, 255, 0.2);
}

.wrapper:focus-within {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    outline: solid 1.5px rgb(0, 0, 0);
}

.error {
    font-size: 1rem;

}

.wrapper:disabled {
    cursor: not-allowed;
}


@media (min-width: 600) {
    .wrapper {
        font-size: 1.4rem;
    }
}



