

.wrapper {
    --max-Size: 50px; 
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-width: var(--max-Size);
    max-height: var(--max-Size);
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper:hover {
    background-color: rgb(255, 255, 255, 0.2);
}

.wrapper > svg {
    margin: auto;
    width: inherit;
    height: inherit;
}



