
/* .wrapper * {
    border: solid 1px black;
} */

.wrapper {
    display: flex;
}

.wrapper svg {
    width: 30px;
    height: auto;
    margin: auto 0px;
}

.wrapper header {
    margin: auto 0px;
    margin-left: 1px;
    padding: 0px;
    font-size: 1.4rem;
}

@media (min-width: 600) {
    .wrapper svg {
        width: 50px;
    }

    .wrapper header {
        font-size: 2rem;
    }
}