
/* .wrapper * {
    border: solid 1px red;
} */

.wrapper {
    --size: 40px; 
    margin: 5px;
    height: var(--size);
    position: relative;

    border-radius: 10px;
    cursor: pointer;

    display: flex;
    justify-content: center;

    transition: width 0.5s ease-in-out;
}

.wrapper:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.wrapper.filterActive {
    background-color: #ffffffd7
}

.mainButton {
    padding: 5px 7px;

    /* background-color: rgba(0, 0, 0, 0.1); */
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper.filterActive .mainButton:hover {
    background-color: white;
    border-radius: 10px 0 0 10px;
}


.mainButton svg {
    --svgSize: calc(var(--size) - 15px);
    width: var(--svgSize);
    height: var(--svgSize);
    margin: auto;
}

.wrapper.filterActive .mainButton svg path {
    stroke: black;
}


.clearFilterButton {
    font-size: 0.8rem;
    font-weight: 600;

    border: none;
    border-left: solid 1px black;

    cursor: pointer;

    background-color: transparent;
    color: rgb(0, 0, 0);
}

@media (pointer: fine) {
    .clearFilterButton:hover {
        background-color: white;
        border-radius: 0 10px 10px 0;
    }
}