
/* .wrapper * {
    border: solid 1px red;
} */

.wrapper {
    --size: 40px; 
    margin: 5px;
    height: var(--size);
    position: relative;

    display: flex;
    justify-content: center;
}

.mainButton {
    padding: 5px;
    
    border-radius: 10px;
    cursor: pointer;

    /* background-color: rgba(0, 0, 0, 0.1); */
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.mainButton svg {
    --svgSize: calc(var(--size) - 15px);
    width: var(--svgSize);
    height: var(--svgSize);
    margin: auto;
}

.clearFilterButton {
    font-size: 0.8rem;
    font-weight: 600;

    margin-left: 5px;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    background-color: white;
    color: black;
}

@media (pointer: fine) {
    .clearFilterButton:hover:not(:disabled) {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }
}