
.search {
    margin: 10px 0px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 5%);
    width: 100%;
}

.search:hover {
    background-color: rgba(0, 0, 0, 10%);
}

.search:focus-within {
    background-color: white;
    box-shadow: 0 0 20px -10px rgb(0, 0, 0);
    transition: 
        background-color 0.2s ease, 
        box-shadow 0.2s ease;
    outline: solid 1.5px;
}


.search > img {
    height: 100%;
    margin: auto;
    margin-left: 5px;
}

.search > input {
    flex: 1 1 auto;
    margin: 5px;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    padding: 5px 0px;
}

.search > input:focus {
    outline: none;
}



.hrTag {
    margin: 10px 0px; 
    padding: 0;
}


.checkOptions {
    margin-top: 20px;
}

.checkOptions header {
    font-size: 0.9rem;
    margin-bottom: 5px;
    font-weight: 600;
}

.checkOptions > div { 
    display: flex;
    justify-content: left;
    margin-top: 5px;
}

.checkOptions input {
    width: 20px;
    height: 20px;
    margin: auto 0;
    margin-right: 10px;
}


.checkOptions label {
    font-size: 0.8rem;
    margin: auto 0;
}

.resetButton {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}