
.wrapper {
    --size: 40px; 
    margin: 5px;
    height: var(--size);
    width: var(--size);
    position: relative;
}

.mainButton {
    width: inherit;
    height: inherit;
    border-radius: 10px;
    cursor: pointer;

    /* background-color: rgba(0, 0, 0, 0.1); */
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.mainButton svg {
    --svgSize: calc(var(--size) - 15px);
    width: var(--svgSize);
    height: var(--svgSize);
    margin: auto;
}