
/* .page * {
    border: solid 1px;
} */


.page {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    /* background-color: rgb(238, 126, 126); */
}

.firstSection {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.firstSection > div {
    margin: auto;
    flex: 1 1 auto;
}


/* For mobile version */

.searchButton {
    display: block;
}

.searchBar {
    display: none;
}


@media (min-width: 600) {
    
    .searchButton {
        display: none;
    }

    .searchBar {
        display: block;
    }
}


.dashboardMenu {
    display: block;
}

.dashboardOptions {
    display: none;
}


@media (min-width: 800) {
    .dashboardMenu {
        display: none;
    }

    .dashboardOptions {
        display: block;
    }
}