
/* .page * {
    border: solid 1px;
} */


.page {
    flex: 1 1 auto;
    margin: 0px 3px;
    padding: 0;
    padding-top: 5px;

    display: flex;
    flex-direction: column;
    min-width: 0;

    /* background-color: rgb(238, 126, 126); */
}

.firstSection {
    flex: 0 1 auto;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
}

.firstSection > div {
    margin: auto 2px;
}

.appLogo {
    flex: 0 1 auto;
}

.searchWrapper {
    flex: 2 1 auto;
}

.dashboardMenuWrapper {
    flex: 0 1 auto;
    display: flex;
    justify-content: end;
}




/* For mobile version */

.searchButton {
    display: block;
}

.searchBar {
    display: none;
}

.dashboardMenu {
    display: block;
}

.dashboardOptions {
    display: none;
}



@media (min-width: 600) {

    .page {
        margin: 0px 20px;
    }
    
    .searchButton {
        display: none;
    }

    .searchBar {
        display: flex;
        justify-content: center;
    }
}



@media (min-width: 900) {
    .dashboardMenu {
        display: none;
    }

    .dashboardOptions {
        display: flex;
        justify-content: end;
        align-items: center;
    }
}


.mainContent {
    margin-bottom: 10px;

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.mainContent > section:first-child {
    flex: 0 1 auto;
}

.mainContent > section:last-child {
    flex: 1 1 auto;
    display: flex;
}



