
/* .page * {
    border: solid 1px;
} */


.page {
    flex: 1 1 auto;
    margin: 0px 3px;
    padding: 0;
    padding-top: 5px;

    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;

    /* background-color: rgb(238, 126, 126); */
}




@media (min-width: 600) {

    .page {
        margin: 0px 20px;
    }
}





