
.wrapper {
    flex: 1 1 auto;
    width: 100%;

    border-radius: 0 0 10px 10px;

    display: flex;
    min-width: 0;

    overflow: hidden;
}

.wrapper ul {
    flex: 1 0 auto;

    list-style: none;
    padding: 0;

    margin: 20px;
    width: 250px;
    height: 500px;

    max-width: 250px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;


    border: 1px solid #e5e7eb;
    border-radius: 14px;

    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.wrapper li {
    flex: 1 0 auto;
    margin: 15px;

    border-radius: 10px;
}