
/* .searchWrapper * {
    border: solid 1px red;
} */

.searchWrapper {
    flex: 1 1 auto;
    max-width: 400px;
    margin: 5px;
    position: relative;
    /* width: 100%; */
}


.search {
    font-size: 1rem;
    height: 40px;
}




.searchResultsWrapper {
    width: 100%;
    min-height: 100px;

    outline: solid 1.5px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px -10px rgb(0, 0, 0);
    position: absolute;
    top: auto; 
    margin-top: 10px;
    z-index: 1;

    display: flex;
    flex-direction: column;

    transition: all 0.5s ease-in-out;
}


.searchResultsWrapper header {
    margin: 5px;
    padding-left: 10px;

    font-size: 0.9rem;
    border-bottom: solid 1px;
    color: rgb(78, 78, 78);
}


.loading {
    margin: 20px auto;

    width: 30px;
    height: 30px;
}


.results {
    flex: 1 1 auto;
    margin: auto 0px;

    display: flex;
}

.cardNotFound {
    margin: auto;
    font-size: 0.9rem;
    text-align: center;
}

.error {
    color: red;
    margin: auto;
    margin-top: 5px;
    font-size: 0.9rem;
    text-align: center;
}

.resultList {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
}

.resultList div {
    flex: 0 1 auto;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.cardName {
    font-size: 0.9rem;
}

.cardInfo {
    font-size: 0.8rem;
    color: rgb(62, 62, 62);
}

@media (pointer: fine) {
    .resultList div:hover {
        background-color: rgba(0, 0, 0, 0.107);
        cursor: pointer;
    }
}




/* @media (min-width: 600) {

    .search > input, 
    .searchResultsWrapper header, 
    .results p {
        font-size: 1rem;
    }

} */