


/* button styles */
.wrapper {
    margin: auto;
    padding: 2px;
    /* width: 40px; */
    height: 100%;
    display: flex;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: black;
    background-color: rgba(0, 0, 0, 5%);
    width: fit-content;
}

.wrapper:disabled {
    cursor: not-allowed;
    box-shadow: none;
}

@media (min-width: 350px) {
    .wrapper {
        padding: 5px;
    }
}

.wrapper:hover {
    background-color: rgba(0,0,0, 10%);
}

.wrapper > svg {
    margin: 5px;
    width: 20px;
    height: 20px;
    stroke: rgb(94, 94, 94);
}

.wrapper:hover > svg {
    stroke: black;
}

.wrapper:disabled > svg {
    opacity: 0.2;
}

.wrapper > header {
    margin: auto;
    margin-right: 5px;
    font-size: 1rem;
}




/* panel styles */

.searchPanel {
    position: fixed;
    inset: 0;
    z-index: 1;
    background-color: white;
    height: 100%;
    width: 100%;
}



.search {
    margin: auto;
    margin-top: 5vh;
    padding: 0px 10px;
    max-width: 400px;
}

.closeButton {
    width: 50px;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 20px;
}

/* Search bar */

.searchBar {
    font-size: 1rem;
    height: 40px;
}



.resultsWrapper header {
    margin: 5px;
    margin-top: 20px;
    padding-left: 10px;

    font-size: 0.9rem;
    border-bottom: solid 1px;
    color: rgb(78, 78, 78);
}



.loading {
    margin: auto;
    margin-top: 40px;

    width: 30px;
    height: 30px;
}


/* .searchPanel * {
    border: solid 1px red;
} */



.cardNotFound {
    margin: auto;
    margin-top: 20px;
    font-size: 0.9rem;
    text-align: center;
}

.error {
    color: red;
    margin: auto;
    margin-top: 20px;
    font-size: 0.9rem;
    text-align: center;
}


.resultList {
    display: flex;
    flex-direction: column;
}

.resultList div {
    flex: 0 1 auto;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.cardName {
    font-size: 0.9rem;
}

.cardInfo {
    font-size: 0.8rem;
    color: rgb(62, 62, 62);
}

@media (pointer: fine) {
    .resultList div:hover {
        background-color: rgba(0, 0, 0, 0.107);
        cursor: pointer;
    }
}
