

.wrapper {    
    position: relative;
}

/* Button */

.menuButton {
    padding: 0px 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.menuButton > svg {
    width: 35px;
    height: 35px;
}


@media (min-width: 350) {
    .menuButton {
        padding: 5px;
    }
}

