
.wrapper {
    padding: 10px;
    height: fit-content;

    border-radius: 10px;

    background-color: rgb(255, 255, 255); 

    box-shadow: 0 0 20px -15px rgba(0, 0, 0, 1);
}

@media (pointer: fine) {
    .wrapper:hover {
        box-shadow: 0 0 20px -10px rgba(0, 0, 0, 1);
    }
}

.wrapper.dragging {
    background-color: rgb(255, 255, 255, 0.8); 
}

.wrapper:active {
    /* box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.7);

    background-color: rgba(0, 0, 0, 0.2);

    cursor: grabbing;

    transition: all 0.1s ease-in-out; */
}


.header {
    display: flex;
    cursor: grab;
}

.header > header {
    flex: 1 1 auto;

    margin: auto;
    margin-left: 5px;
    padding: 0;

    text-align: start;
    font-size: 1rem;

    display: flex;
    justify-content: start;
}

.listName {
    flex: 1 1 auto;

    margin-right: 5px;
    padding: 5px;

    font-size: 1rem;
    font-weight: 550;

    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.listName:focus-within {
    outline: solid 1.5px rgb(0, 0, 0);
}

.listName:disabled {
    cursor: not-allowed;
}



.cards {
    margin-top: 10px;
    min-height: 10px;
}


.addNewCardContainer {
    display: flex;
    justify-content: center;
}

.addNewCardContainer button {
    font-size: 1rem;

    padding: 5px 6px;

    border-radius: 6px;
}

.addNewCardContainer button svg {
    width: 15;
    height: 15;

    margin-right: 5px;
}