
.searchWrapper {
    flex: 1 1 auto;
    max-width: 400px;
    margin: 5px;
}

.searchWrapper:focus-within {
    outline: black 1rem;
}

.search {
    /* margin-bottom: 5px; */
    /* border: solid 1.5px; */
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 5%);
}

.search:hover {
    background-color: rgba(0, 0, 0, 10%);
}

.search:focus-within {
    background-color: white;
    box-shadow: 0 0 20px -10px rgb(0, 0, 0);
    transition: 
        background-color 0.2s ease, 
        box-shadow 0.2s ease;
    outline: solid 1.5px;
}


.search > img {
    height: 100%;
    margin: auto;
    margin-left: 5px;
}

.search > input {
    flex: 1 1 auto;
    margin: 5px;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    padding: 5px 0px;
}

.search > input:focus {
    outline: none;
}



.searchResultsWrapper {
    border: solid 1.5px;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 20px -10px rgb(0, 0, 0);
    position: absolute;
    top: auto; 
    margin-top: 10px;
}


.searchResultsWrapper header {
    margin: 5px;
    padding-left: 10px;
    font-size: 1rem;
    border-bottom: solid 1px;
    color: rgb(78, 78, 78);
}

/* Temporary styles */

.results {
    
}

.results p {
    margin: 10px 5px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
}

.results p:hover {
    background-color: rgb(220, 220, 220);
}

@media (min-width: 600) {

    .search > input, 
    .searchResultsWrapper header, 
    .results p {
        font-size: 1.2rem;
    }

}