
.wrapper {
    margin: auto;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70px;
    max-height: 70px;
}

.wrapper header {
    flex: 1 1 auto;
    display: block;
    text-align: center;
    font-size: 1.1em;
    color: white;
    font-weight: 550;   
}

.wrapper.red {
    background-color: rgb(255, 64, 64);
}

.wrapper.blue {
    background-color: rgb(91, 91, 255);
}

.wrapper.green {
    background-color: rgb(52, 193, 52);
}

