
/* .wrapper * {
    border: solid 1px red;
} */


.wrapper {
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px; 

    position: absolute;
    z-index: 3;

    padding: 20px;
    height: max-content;

    overflow: hidden;
    top: calc(100% + 5px);

    animation: slide-in 0.1s ease-out;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.titleAndCloseButton {
    display: flex;
    justify-content: space-between;

    position: relative;

    min-height: 30px;
}

.titleAndCloseButton > header {
    flex: 1 1 auto;
    text-align: center;
    margin: auto;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(0, 0, 0, 0.8);
}

.closeButton {
    width: 30px;
    height: 30px;

    position: absolute;
    right: 0;
    top: 0;
}

@keyframes slide-in {
    from {
        transform: translateY(-5%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}