
.wrapper {
    padding: 3px;
    position: relative;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainButton {
    cursor: pointer;
    width: 35px;
    height: 35px;

    border: none;
    border-radius: 10px;
}

.wrapper:hover {
    background-color: rgba(0, 0, 0, 0.1);
}