


.wrapper {
    display: flex;
    padding: 10px;
}

.iconWrapper {
    --size: 35px; 
    margin: auto 5px;
    display: flex;
    width: var(--size);
    height: var(--size);
    font-size: 1rem;
}

.userDetails {
    margin: auto 5px;
    padding: 0;
}

.userDetails p {
    padding: 0;
    margin: 0;
}

.userDetails p:first-child {
    font-size: 1rem;
}

.userDetails p:last-child {
    font-size: 0.8rem;
}


@media (min-width: 600) {
    .iconWrapper {
        --size: 50px; 
        font-size: 1.4rem;
    }

    .userDetails p:first-child {
        font-size: 1.1rem;
    }

    .userDetails p:last-child {
        font-size: 0.9rem;
    }

}