
/* .wrapper * {
    border: solid 1px blue;
} */

.hoverPanel {
    padding: 15px 5px;
}

.wrapper {
    min-width: 150px;
}


.deleteButtonContainer {
    display: flex;
    justify-content: center;

    margin-top: 10px;

    font-size: 1rem;
}