
/* .wrapper * {
    border: solid 1px red;
} */


.wrapper {
    margin: 0px 10px;

    min-width: 120px;
}


.deleteButtonContainer {
    display: flex;
    justify-content: center;

    margin-top: 10px;

    font-size: 1rem;
}