
/* .wrapper * {
    border: solid 1px red;
} */


.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    margin: 20px 40px;

    min-height: 400px;
}

.memberCategoryContainer {
    display: flex;
    flex-direction: column;
}

.categoryHeader {
    margin: 0;
    padding: 0;
    padding-left: 10px;

    font-size: 1.2rem;

    border-bottom: 1.4px solid rgba(0, 0, 0, 0.352);
}

.memberCategoryContainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr;

    align-items: center;
    gap: 10px;

    border-bottom: 1px solid var(--border-color);

    margin: 18px 10px;
}

.userInfo {
    min-width: 0;
}

.userInfo header {
    font-size: 1rem;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.userInfo span {
    display: block;
    font-size: 0.9rem;
    opacity: 0.80;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.userRole {
    display: flex;
    justify-content: center;

    font-size: 1rem;
}

.userRole select {
    width: 100px;

    padding: 5px;

    border: solid 1.5px rgb(193, 193, 193);
    border-radius: 5px;

    text-align: center;
}

@media (pointer: fine) {
    .userRole select:hover {
        cursor: pointer;
    }
}

.removeButton {
    display: flex;
    justify-content: center;

    font-size: 1rem;
}


.saveButton {
    display: flex;
    justify-content: space-evenly;

    margin-top: 10px;
}