

.wrapper {
    --size: 40px;
    margin: 5px;
    padding: 5px;
    width: var(--size);
    height: var(--size);
    font-size: 1.1rem;
    border-radius: 10px;
}

.wrapper:hover {
    background-color: rgba(0, 0, 0, 10%);
    cursor: pointer;
}

.options {
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    background-color: white;
    position: absolute;
    top: auto;
    left: 10px;
    right: 10px;
    max-width: 250px;
    z-index: 1;
    padding: 10px;
}


.closeButton {
    width: 30px;
    height: 30px;
    margin-left: auto;
}

.options > header {
    text-align: center;
    font-size: 1rem;
}

.buttons {
    font-size: 1rem;
}

.logoutButton {
    border-top: solid 1px rgb(147, 147, 147);
    margin-top: 10px;
    padding-top: 10px;
}