
/* .wrapper * {
    outline: solid 1px rgb(255, 0, 0);
} */

.wrapper {
    padding: 0px;
    margin-bottom: 20px;

    border: solid 1px rgb(244, 244, 244);
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0.1 1px 0.2px black;

    overflow: hidden;

    cursor: pointer;
}

.wrapper:hover {
    /* causes big hover panel to appear inside card */
    /* transform: scale(1.02); */
    transition: all 0.1s ease-in-out;
}

.wrapper > header {
    margin: 0px;
    padding: 10px 0px;

    display: flex;
    background-color: rgb(255, 255, 0, 0.4);
}

.wrapper > header > input {
    flex: 0 1 auto;

    margin: auto 10px;

    --size: 20px; 
    width: var(--size);
    height: var(--size);
}

/* .wrapper > header > input:hover {
    outline: solid black 2px;
} */

.wrapper > header > h3 {
    flex: 1 1 auto;
    margin: auto 0px;
    padding: 0;

    font-size: 1rem;
    font-weight: 500;

    min-width: 0;

    overflow: hidden;
    text-overflow: ellipsis;
}

.grabCardIcon {
    flex: 0 1 auto;
    
    margin: 0px 5px;
    width: 25px;

    border-radius: 5px;
    cursor: grab;

    touch-action: none;

    display: flex;
}

@media (pointer: fine ) {
    .grabCardIcon:hover, 
    .grabCardIcon:active {
        background-color: rgba(0, 0, 0, 0.08);
    }
}


.grabCardIcon svg {
    margin: auto;
}

.taskDone {
    text-decoration: line-through;
}

.cardContent {
    margin: 10px 10px;
}

.cardContent > p {
    padding: 0;
    margin: 0;
}

.priorityAndDueDate {

    margin-top: 10px;

    display: flex;
    justify-content: space-evenly;
}

.priorityAndDueDate div {
    display: flex;
    flex-direction: column;
    align-items: center;
}