
/* .wrapper * {
    outline: solid 1px rgb(255, 0, 0);
} */

.wrapper {
    padding: 0px;
    margin-bottom: 20px;

    width: 300px;
    height: 130;

    /* border: solid 1px rgb(244, 244, 244); */
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0.1 1px 0.2px rgb(152, 152, 152);

    overflow: hidden;

    cursor: pointer;

    transition: all 0.5s ease-in-out; 

    display: flex;
    flex-direction: column;
}

.wrapper.hidden {
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper.hidden svg {
    width: 20px;
    height: 20px;

    animation: fade-in 0.8s ease-in; 
}



.wrapper.bigCard {
    height: 160px;
}



@media (pointer: fine) {
    .wrapper:hover {
        background-color: rgba(0, 0, 0, 0.02);
    }
}

.cardLocked {
    position: relative;
    cursor: not-allowed;
}

.cardLocked .cardContent, 
.cardLocked header, 
.cardLocked .disappearingMessage {
    animation: blur-in 0.2s ease-in forwards; 
}

.cardLockMessage {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
}

.cardLockMessage div {
    z-index: 1;
}

.cardLockMessage span {
    font-size: 1rem;
    color: rgb(0, 0, 0);

    padding: 5px 10px;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.813);

    animation: fade-in 0.3s ease-in forwards; 
}

.wrapper.taskDone {
    filter: grayscale(30%);
}

.wrapper.isDragging {
    opacity: 0.9;
}


.disappearingMessage {
    margin-top: 1px;
    min-height: 14px;
    
    font-size: 0.8rem;
    
    display: flex;
    justify-content: center;

    color: rgb(46, 46, 46);
    background-color: rgba(255, 255, 80, 0.546);
}


.wrapper > header {
    margin: 0px;
    padding-bottom: 10px;

    display: flex;
    background-color: rgba(255, 255, 80, 0.546);
}

.checkbox {
    flex: 0 1 auto;

    margin: auto 10px;

    --size: 20px; 
    width: var(--size);
    height: var(--size);

    accent-color: green;
    
    cursor: pointer;
}

.checkbox:disabled {
    cursor: not-allowed;
}


.cardName {
    flex: 1 1 auto;

    margin: auto 0px;
    padding: 0;

    font-size: 1rem;
    font-weight: 500;

    min-width: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardName.taskDone {
    text-decoration: line-through;
}

.grabCardIcon {
    flex: 0 1 auto;
    
    margin: 0px 5px;
    height: 25px;
    width: 25px;

    border-radius: 5px;
    cursor: grab;

    touch-action: none;

    display: flex;
}

@media (pointer: fine ) {
    .grabCardIcon:hover, 
    .grabCardIcon:active {
        background-color: rgba(0, 0, 0, 0.08);
    }
}

.grabCardIcon svg {
    margin: auto;
}




.cardContent {
    margin: auto 10px;

    display: flex;
    flex-direction: column;
}

.description {
    flex: 0 1 auto;
    padding: 0;

    margin: 5px;
    max-height: 50px;

    font-size: 0.9rem;

    overflow: hidden;   
    text-overflow: ellipsis;
}


.priorityAndDueDate {
    flex: 1 1 auto;
    margin-bottom: 12px;

    font-size: 0.9rem;

    display: flex;
    justify-content: space-evenly;
}


.priorityAndDueDate > div > span {
    display: block;
    margin-bottom: 2px;
    
    text-align: center;
}

.priority {
    border-radius: 5px;

    text-align: center;

    padding: 1px 5px;
}

.priority.low {
    background-color: rgba(255, 166, 0, 0.39);
}

.priority.medium {
    background-color: rgba(255, 100, 48, 0.468);
}

.priority.high {
    background-color: rgba(255, 0, 0, 0.39);
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes blur-in {
    from {
        filter: blur(0px);
    }

    to {
        filter: blur(5px);
    }
}