.page {
    flex: 1 1 auto;
    background-color: white;
}

.error {
    color: red;
    text-align: center;

    font-size: 1rem;

    margin: 0;
    margin-top: 5px;
    padding: 0;
}

.header,
.appHeading > svg, 
.appHeading > h1 {
    transition: all 0.5s ease-in-out;
}

.headerWrapper {
    position: sticky;
    z-index: 1;
    top: 0px;
    background-color: white;
    box-shadow: 0px 0px 10px -5px black;
}

/* .page * {
    border: solid 1px red;
} */

.header {
    padding: 10px 2px;
    background-color: white;
    display: flex;
    max-width: 800px;
    margin: auto;
}

.appHeading {
    flex: 1 1 auto;
    margin: auto;
    display: inline-flex;

    min-width: 0;
}

.appHeading > svg {
    width: 30px;
    height: 30px;
    margin: auto 0;
}

.appHeading > h1 {
    padding: 0;
    margin: auto 5px;
    font-size: 1.4rem;
    font-weight: 400;
}

.headerButtons {
    display: flex;
}

.headerButtons > div {
    margin: auto 5px;
    min-width: 0;
    font-size: 1rem;
}

@media (min-width: 370) {
    .header {
        padding: 10px auto;
    }

    .appHeading > svg {
        width: 40px;
        height: 40px;
    }

    .appHeading > h1 {
        font-size: 1.8rem;
    }

    .headerButtons > div {
        font-size: 1.1rem;
    }
}

.main {
    display: block;

    min-width: 0;
}



/* First Section */


.firstSection {
    /* background-color: var(--verylight-red-color); */
    /* background: linear-gradient(rgb(255, 248, 248) 0%, rgba(255, 255, 255, 1) 100%);  */
    padding: 20px 5px;
    display: flex;
    justify-content: center;
}

.firstSectionContainer {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.firstSection .childOne {
    margin-bottom: 30px;
}

.firstSection .childTwo {
    margin: 10px 5px;
}


.introduction p {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-size: 1.2rem;
}


.signupLink {
    display: flex;
    justify-content: center;
}

.guestInfo {
    font-size: 1rem;
    text-align: center;
}

.guestButton {
    display: flex;
    justify-content: center;
}


.appPhoto {
    display: flex;
    justify-content: center;
}

.appPhoto > img {
    border-radius: 20px;

    width: 100%;
    height: auto;

    min-width: 0;
}

.guestAccountInfo > p {
    font-size: 1rem;
}

@media (min-width: 370) {
    .firstSection {
        padding: 20px;
    }
}


@media (min-width: 800) {
    .firstSection {
        flex-direction: row;
    }

    .firstSectionContainer {
        max-width: 900px;
        flex-direction: row;
    }

    .firstSectionContainer .childOne, 
    .firstSectionContainer .childTwo {
        margin: 10px;
        flex: 1 1 auto;
    }

    .firstSectionContainer .childOne {
        margin-top: 40px;
    }

    .guestAccountInfo {
        padding: 0 20px;
    }

}


/* .main * {
    border: solid 1px;
} */


/* Second section */

.secondSection {
    margin: 40px 5px;
    margin-bottom: 0px;
}

.secondSection > header{
    text-align: center;
    font-size: 1.4rem;
    margin: 10px;
}


/* Third section */

/* .thirdSection * {
    border: solid 1px red;
} */

.thirdSection {
    /* background-color: var(--verylight-red-color); */
    /* background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgb(255, 248, 248) 100%); */
    padding: 20px 5px;
    display: flex;
    justify-content: center;
}

.thirdSection > div {
    max-width: 500px;
    min-width: 0;
}


.contentWrapper > header {
    margin: 30px 0px ;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.4rem;
}

.contentWrapper > .contentGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.contentWrapper > .contentGrid > .signupLinkContainer {
    margin: auto;
    margin-right: 0;
}

.contentGrid  .signupDetails {
    grid-column: 2 / 4;
}

.contentWrapper > .contentGrid > .guestButtonContainer {
    margin: auto;
    margin-left: 0;
}

.contentGrid .guestDetails {
    grid-column: 1 / 3;
}

.contentGrid p {
    font-size: 1rem;
}

.contentGrid p:last-of-type {
    text-align: right;
}


@media (min-width: 600) {
    .contentWrapper > .contentGrid {
        gap: 10px 40px;
    }
}


@media (min-width: 800) {
    .thirdSection > div {
        max-width: 700px;
    }
}




/* Footer */


.page footer {
    padding: 10px 5px;
    padding-bottom: 50px;
    /* box-shadow: 0px 0px 20px -10px black;  */
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.page footer > div {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
}

.footerAppHeading {
    display: flex;
}

.footerAppHeading > svg {
    width: 30px;
    height: 30px;
    margin: auto 0;
}

.footerAppHeading > h1 {
    padding: 0;
    margin: auto 10px;
    font-size: 1.4rem;
    font-weight: 400;
}

.page footer a {
    margin-top: 10px;
    font-size: 1rem;
    color: black;
    background-color: transparent;
}


@media (min-width: 500px) {

    .page footer > div {
        flex-direction: row;
        justify-content: space-evenly;
    }
} 