/* .mainContent * {
    border: solid 1px red;
} */

.mainContent {
    margin-bottom: 10px;

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    min-height: 0;
}

.error {
    margin: 0;
    padding: 0;
    margin-bottom: 2px;

    text-align: center;
    font-size: 0.8rem;
    color: red;
}

.viewOnlyBoard {
    text-align: center;
    font-size: 0.8rem;

    display: flex;
    justify-content: center;
}

.viewOnlyBoard svg {
    margin: auto 0;
    margin-right: 5px;
    
    width: 15px;
    height: 15px;
}

.viewOnlyBoard span {
    margin: auto 0;
}


.mainContent > section:first-child {
    flex: 0 1 auto;
}

.mainContent > section:last-child {
    flex: 1 1 auto;
    display: flex;

    min-height: 0;
}

