

.noBoardsAvailable, 
.failedToLoadBoards, 
.noBoardsFound {
  height: 200px;

  margin-top: 50px;

  text-align: center;
}

.noBoardsAvailable header, 
.failedToLoadBoards header, 
.noBoardsFound header {
  font-size: 1.3rem;
  font-weight: 500;
}

.noBoardsAvailable p, 
.noBoardsFound p {
  font-size: 1rem;
}


.failedToLoadBoards button {
  margin-top: 30px;
}

.errorMessage {
  margin-top: 5px;
  font-size: 1rem;
  text-align: center;
  color: red;
}



.search {
    margin: 20px 0px;
    font-size: 1rem;
    height: 40px;
}


.groupHeader {
  margin: 10px 0px;
  margin-top: 40px;

  font-size: 1.1rem;
  font-weight: 540;

  border-bottom: solid 1px rgb(165, 165, 165);
}


.boards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
  gap: 40px;
  justify-content: center;
}

@media (min-width: 500) {
  .boards {
    justify-content:start; 
  }
}

.boards > div {
  position: relative;
  height: 100px;

  border-radius: 10px;
  
  display: flex;
  justify-content: end;
  align-items: end;

  cursor: pointer;
  
  box-shadow: 0 0 10px -5px black;
  
  overflow: hidden;
  
  transition: 
      transform 0.1s ease-out,
      outline 0.05s ease-out, 
      box-shadow 0.15s ease, 
      border 0.15s ease;
}

.boards > div:hover {
    transform: scale(1.02);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

.boards svg {
  position: absolute;
  top: 6;
  right: 5;
}

.boards span {
    flex: 1 1 auto;
    
    padding: 10px;

    font-size: 0.8rem;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}




/* board colours */


.soft-pink {
  background-color: var(--soft-pink);
}

.soft-pink:hover {
  outline: solid var(--soft-pink-outline);
}

.light-mint-green {
  background-color: var(--light-mint-green);
}

.light-mint-green:hover {
  outline: solid var(--light-mint-green-outline);
}

.aqua {
  background-color: var(--aqua);
}

.aqua:hover {
  outline: solid var(--aqua-outline);
}

.lavender-blue {
  background-color: var(--lavender-blue);
}

.lavender-blue:hover {
  outline: solid var(--lavender-blue-outline);
}

.light-purple {
  background-color: var(--light-purple);
}

.light-purple:hover {
  outline: solid var(--light-purple-outline);
}

.bright-pink {
  background-color: var(--bright-pink);
}

.bright-pink:hover {
  outline: solid var(--bright-pink-outline);
}


